@charset "UTF-8";
body {
  color: #455A64;
  font-size: 14px; }

a {
  color: #78909C; }
  a:hover {
    color: #607D8B; }

canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid #B0BEC5; }

.mod-h {
  font-size: 1.6em; }

.mod-h2 {
  font-size: 1.2em;
  padding-bottom: 15px;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid #B0BEC5; }

.mod-main {
  overflow: hidden;
  width: 960px;
  margin: 0 auto;
  padding: 20px; }

.mod-main__nav {
  float: left; }

.mod-main__canvas {
  border: none;
  float: left;
  margin-left: 20px;
  width: 740px;
  height: 600px;
  box-sizing: border-box; }

.mod-chapters {
  float: left;
  position: relative;
  width: 200px; }

.mod-chapters__item__h {
  font-size: 1em;
  font-weight: normal;
  margin: 0 0 5px 0; }
  .mod-chapters__item__h:hover {
    cursor: pointer;
    opacity: .8;
    text-decoration: underline; }
  .mod-chapters__item__h:before {
    display: inline-block;
    content: '▶';
    margin-right: 20px;
    transition: transform .1s; }

.mod-chapters__item--on .mod-chapters__item__h:before {
  transform: rotate(90deg); }

.mod-chapters__item:last-child .mod-chapters__item__h {
  margin-bottom: 0; }

.mod-articles {
  margin: 10px 0 5px 30px;
  padding: 0;
  overflow: hidden;
  max-height: 0;
  box-sizing: border-box;
  transition: max-height .5s; }

.mod-chapters__item--on .mod-articles {
  max-height: 500px; }

.mod-articles__item {
  list-style: none;
  font-size: 0.8em;
  margin-bottom: 5px; }
