<% root = '' %>
<%- include('common/_head.ejs') %>
  <div class="mod-main">
    <h1 class="mod-h">Nature of Code 独習</h1>
    <div class="mod-main__nav">
      <%- include('modules/_mod-chapters') %>
    </div>
    <iframe class="mod-main__canvas">
    </iframe>
  </div>
  <script src="scripts/index.js"></script>
<%- include('common/_foot-index.ejs') %>
