<% root = '' %>
<%- include('common/_head.ejs') %>
  <div class="main">
    <h1 class="mod-h">Nature of Code 独習</h1>
    <%- include('modules/_mod-chapters') %>
  </div>
<%- include('common/_foot-index.ejs') %>
