  </div><!-- .main -->
  <!-- 初期化 -->
  <script src="<%= root %>scripts/lib.js" type="text/javascript" charset="utf-8"></script>
  <script src="<%= root %>scripts/classes.js" type="text/javascript" charset="utf-8"></script>
  <script src="<%= root %><%= script %>" type="text/javascript" charset="utf-8"></script>
</body>
</html>
