//-------------------------------------//
//  SETTINGS
//-------------------------------------//

//  Layout
//-------------------------------------

// page_width
$page-width:960px;

//  color
//-------------------------------------

$base-color:#455A64;
$anchor-link:#78909C;
$anchor-hover:#607D8B;
$border-color:#B0BEC5;


