.mod-articles {
  margin:10px 0 5px 30px;
  padding: 0;
  overflow: hidden;
  max-height: 0;
  box-sizing:border-box;
  transition:max-height .5s;
}

.mod-chapters__item--on {
  .mod-articles {
    max-height: 500px;
  }
}

.mod-articles__item {
  list-style: none;
  font-size: 0.8em;
  margin-bottom: 5px;
}


