.mod-main{
  overflow: hidden;
  width:$page-width;
  margin: 0 auto;
  padding:20px;
}

.mod-main__nav {
  float: left;
}

.mod-main__canvas {
  border: none;
  float: left;
  margin-left: 20px;
  width: 740px;
  height: 600px;
  box-sizing: border-box;
}
