.mod-chapters {
  float: left;
  position: relative;
  width:200px;

};

.mod-chapters__item__h {
  font-size: 1em;
  font-weight: normal;
  margin: 0 0 5px 0;
  &:hover {
    cursor: pointer;
    opacity: .8;
    text-decoration: underline;
  }
  &:before {
    display: inline-block;
    content:'▶';
    margin-right:20px;
    transition:transform .1s;
  }
}

.mod-chapters__item--on {
  .mod-chapters__item__h {
    &:before {
      transform:rotate(90deg);
    }
  }
}

.mod-chapters__item:last-child .mod-chapters__item__h {
  margin-bottom: 0;
}
