      <ul class="mod-articles"><% articles.forEach(function(article,index){ %><li class="mod-articles__item"><a href="articles/article<%= chapterNum %>_<%= (index+1) %>.html"><%= article.name %></a></li>
        <% }); %></ul>
